<!DOCTYPE html>
<html>
  <head>
   <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
  <% include partials/nav.ejs %>
  
  <p>You contacted <%= data.who %> in the <%= data.department%> department </p>
  <p>We will reply to you at <%= data.email %> </p>

  <h1>Thank you for getting in touch!</h1>
  <p>Your request and details have been sent!</p>

  </body>

  </html>